body {
  /* background-color: rgb(0, 255, 98); */
  overflow-x: hidden !important;
  /* overflow-y: hidden; */

  /* max-width: 1400px; */
}
.whole-section {
  background-color: rgb(247, 246, 246);

  display: flex;
  height: 650px;
  /* margin-top: 1rem; */
  justify-content: center;
  align-items: center;
}
.aside-bar {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  margin-left: 0.3rem;

  position: relative;
  border-radius: 10px;
  background-image: url("images/bg-sidebar-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 490px;

  width: 15rem;
  background-color: aliceblue;
}
button{
  cursor: pointer !important;
}
.main-content {
  position: relative;
  margin-top: 4rem;
  margin-bottom: 0.3rem;
  margin-right: 0.3rem;
  padding: 1rem;
  height: 450px;

  width: 26rem;
  background-color: rgb(247, 249, 250);
  justify-content: right;
  margin-left: 5%;
  /* align-self: flex-end; */
}
.steps {
  font-size: 0.9rem;

  margin-left: 1rem;
  color: rgb(217, 223, 223);
  font-weight: bold;
}
.basic-details {
  font-size: 0.9rem;
  color: white;
  font-weight: bold;
}

.number {
  border: 2px solid white;

  font-size: 0.8rem;
  font-weight: bold;

  background-color: #a7eeee;
  /* padding: 0.9rem;
    margin-bottom: 0.2rem; */
  width: 2rem;
  border-radius: 50%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.number2 {
  font-size: 0.8rem;
  font-weight: bold;

  /* background-color: #a7eeee; */
  /* padding: 0.9rem;
    margin-bottom: 0.2rem; */
  width: 2rem;
  border: 2px solid white;
  border-radius: 50%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.number3 {
  font-size: 0.8rem;
  font-weight: bold;

  /* background-color: #a7eeee; */
  /* padding: 0.9rem;
    margin-bottom: 0.2rem; */
  border: 2px solid white;

  width: 2rem;
  border-radius: 50%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.number4 {
  font-size: 0.8rem;
  font-weight: bold;

  /* background-color: #a7eeee; */
  /* padding: 0.9rem;
    margin-bottom: 0.2rem; */
  border: 2px solid white;

  width: 2rem;
  border-radius: 50%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Container-box {
  display: flex;
  position: absolute;
  top: 10%;
  left: 15%;
}
.Container-box2 {
  display: flex;
  position: absolute;
  top: 23%;
  left: 15%;
}
.Container-box3 {
  display: flex;
  position: absolute;
  top: 36%;
  left: 15%;
}
.Container-box4 {
  display: flex;
  position: absolute;
  top: 49%;
  left: 15%;
}
.info-display {
  line-height: 20px;
  /* display: none; */
}
.info-display2 {
  line-height: 20px;
  /* height: 430px; */

}
.text1 {
  font-size: 2rem;
  font-weight:700;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(39, 39, 95);
  
}
.text2 {
  font-size: 0.9rem;
  font-weight: 700;
  color: rgb(177, 177, 173);
}
input {
  width: 95%;
  height: 10px;
  outline: none;
  font-size: 15px;
  border: 0.5px solid rgb(194, 191, 191);
  padding: 15px 10px 15px 10px;
  border-radius: 10px;
}
::placeholder {
  font-size: 15px; /* Adjust the font size of the placeholder text */
}
form:hover {
  outline: none;
}
.flexLabel {
  position: relative;
  font-size: 16px;
  font-weight: 700;
}
.hiddenPopName,
.hiddenPopNumber {
  display: none;
}
.popDisplayName,
.popDisplayNumber {
  position: absolute;
  left: 70%;
  color: red;
  font-size: smaller;
}
label {
  font-size: 0.9rem;
  color: rgb(46, 46, 114);
  font-weight: bold;
  display: block;
  margin-top: 20px;
}

.first {
  line-height: 25px;
  margin-top: 30px;
}
.btn-next {
  display: flex;
  margin-left: auto;
  margin-top: 40px;
  font-size: 0.9rem;
  padding: 0.8rem 1.3rem;
  font-weight: small;
  color: white;
  background-color: rgb(39, 39, 95);
  border: none;
  border-radius: 7px;
  transition: 0.5s ease-in-out;
}
.btn-next:hover {
  background-color: rgb(14, 48, 243);
}

/* step 2 page */
.subscription-boxes {
  display: flex;
  /* align-items: center; */
  height: 10rem;
}
.sub-box {
  width: 28%;
  height: 8rem;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin-right: 1rem;
  position: relative;
  cursor: pointer;
  border: 1px solid rgb(211, 208, 208);
}
.sub-box:hover {
  /* background-color: rgb(238, 238, 234); */
  border: 1px solid rgb(75, 77, 197);
  width: 28%;
  /* height: 8.5rem; */
  transition: 0.3s ease;
}
/* .sub-box:active{
  background-color: rgb(255, 255, 255);

} */
.sub-box-on-click {
  background-color: rgb(227, 238, 241);

  transition: 0.5s ease-in-out;
  border: 1px solid rgb(75, 77, 197);
  height: 8rem;
}
.sub-box-out-click {
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
  border: 1px solid rgb(211, 208, 208);

  height: 8rem;
}
.sub-icon-box {
  position: absolute;
  top: 10%;
  left: 10%;
}
.sub-icon {
  width: 2rem;
}
.sub-main-details {
  position: absolute;
  left: 10%;
  bottom: 27%;
  color: rgb(39, 39, 95);
  font-weight: bold;
  font-size: 15px;
}
.sub-price-details1 {
  position: absolute;
  left: 10%;
  bottom: 12%;
  font-size: 0.75rem;
  color: rgb(212, 67, 67);
  font-weight: bold;
}
.sub-price-details2 {
  position: absolute;
  left: 10%;
  bottom: 12%;
  font-size: 0.75rem;
  color: rgb(212, 67, 67);
  font-weight: bold;
}
.sub-price-details3 {
  position: absolute;
  left: 10%;
  bottom: 12%;
  font-size: 0.75rem;
  color: rgb(212, 67, 67);
  font-weight: bold;
}
.sub-price-details-year {
  position: absolute;
  left: 10%;
  bottom: 12%;
  font-size: 0.75rem;
  color: rgb(212, 67, 67);
  font-weight: bold;
}
.sub-price-details-year-info {
  position: absolute;
  left: 10%;
  bottom: 2%;
  font-size: 0.7rem;
  color: rgb(39, 39, 95);
}
.year-on-click {
  visibility: hidden;
}
/* .year-out-click{
  visibility: hidden;
} */
/* .sub-box:active{
  background-color: rgb(189, 189, 10);
} */

/* hidden pages */
.hidden-Display-step1 {
  display: none;
}
.hidden-Display-step2 {
  display: none;
}
.hidden-Display-step3 {
  display: none;
}
.hidden-Display-step4 {
  display: none;
}
.hidden-Display-step5 {
  display: none;
}

.info-display {
  line-height: 20px;
  /* display: none; */
}

.month-year-toggle {
  width: 88%;
  display: flex;
  justify-content: center;
  background-color: rgb(227, 238, 241);
  padding: 0.5rem;
}
.toggle-details1 {
  margin-top: 2px;
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(184, 184, 179);
}
.toggle-details2 {
  margin-top: 2px;
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(184, 184, 179);
}
.monthly-blue {
  color: rgb(39, 39, 95);
}
.yearly-blue {
  color: rgb(39, 39, 95);
}
.toggle-btn {
  display: flex;
  margin: 0 1rem;
  cursor: pointer;

  /* margin-left: auto;
  margin-right: auto; */
  padding-top: 4px;
  width: 2.5rem;
  height: 1.5rem;
  border-radius: 15px;
  border: none;
  background-color: rgb(39, 39, 95);
}
.inner-circle-month {
  width: 1.5rem;
  height: 1rem;
  background-color: white;
  border-radius: 50%;
}
.inner-circle-year {
  width: 1.5rem;
  height: 1rem;
  background-color: white;
  border-radius: 50%;
}
.hidden-month {
  visibility: hidden;
}
.hidden-year {
  visibility: hidden;
}
.prev-next-btn {
  display: flex;
  width: 90%;
  margin-top: 1.5rem;
}
.prev-next-btn1 {
  display: flex;
  width: 90%;
  margin-top: 1.2rem;
}
.prev-next-btn2 {
  display: flex;
  width: 100%;
  margin-top: 0.3rem;
}
.go-back {
  margin-top: auto;
  color: rgb(184, 184, 179);
  text-decoration: none;
  background-color: transparent;
  border: none;
}
.btn-prev-step1 {
  background-color: none;
  padding: none;
}
.btn-next-step3 {
  margin-left: auto;
}
.required-text {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: red;
  font-weight: bold;
  font-size: 16px;
}
/* step 3 */
.add-box {
  width: 100%;
  height: 4.5rem;
  border-radius: 10px;
  background-color: white;
  border: 1px solid rgb(204, 202, 202);
  margin-bottom: 15px;
  position: relative;
}
.add-box1 {
  width: 100%;
  height: 4.5rem;
  border-radius: 10px;
  background-color: white;
  border: 1px solid rgb(204, 202, 202);
  margin-bottom: 15px;
  position: relative;
}
.add-box2 {
  width: 100%;
  height: 4.5rem;
  border-radius: 10px;
  background-color: white;
  border: 1px solid rgb(204, 202, 202);
  margin-bottom: 15px;
  position: relative;
}
.box-style {
  background-color: rgb(227, 238, 241);
  border: 1px solid rgb(101, 101, 209);
}
.box-style1 {
  background-color: rgb(227, 238, 241);
  border: 1px solid rgb(101, 101, 209);
}
.box-style2 {
  background-color: rgb(227, 238, 241);
  border: 1px solid rgb(101, 101, 209);
}
.adds-on-boxes {
  margin-top: 30px;
  /* padding-left: 8%; */
}
.empty-check-box {
  width: 15px;
  height: 15px;
  background-color: rgb(40, 37, 224);
  border-radius: 5px;
  position: absolute;
  top: 40%;
  left: 5%;
  border: 1px solid rgb(204, 202, 202);
}
.empty-check-box1 {
  width: 15px;
  height: 15px;
  background-color: rgb(40, 37, 224);
  border-radius: 5px;
  position: absolute;
  top: 40%;
  left: 5%;
  border: 1px solid rgb(204, 202, 202);
}
.empty-check-box2 {
  width: 15px;
  height: 15px;
  background-color: rgb(40, 37, 224);
  border-radius: 5px;
  position: absolute;
  top: 40%;
  left: 5%;
  border: 1px solid rgb(204, 202, 202);
}
.check {
  width: 15px;
}
.check1 {
  width: 15px;
}
.check2 {
  width: 15px;
}
/* .hidden-mark{
  display: none;
} */
.adds-on-details-1 {
  color: rgb(39, 39, 95);
  font-weight: 700;

  font-size: 16px;
  position: absolute;
  top: 25%;
  left: 15%;
}
.adds-on-details-3 {
  color: rgb(39, 39, 95);
  font-weight: 700;

  font-size: 16px;
  position: absolute;
  top: 25%;
  left: 15%;
}
.adds-on-details-5 {
  color: rgb(39, 39, 95);
  font-weight: 700;

  font-size: 16px;
  position: absolute;
  top: 25%;
  left: 15%;
}
.adds-on-details-2 {
  color: rgb(184, 184, 179);
  font-weight: 700;

  font-size: 12px;
  top: 58%;
  left: 15%;
  position: absolute;
}
.adds-on-details-4 {
  font-weight: 700;

  color: rgb(184, 184, 179);
  font-size: 12px;
  top: 58%;
  left: 15%;
  position: absolute;
}
.adds-on-details-6 {
  color: rgb(184, 184, 179);
  font-size: 12px;
  font-weight: 700;

  top: 58%;
  left: 15%;
  position: absolute;
}
.adds-on-price-month {
  color: blue;
  top: 40%;
  left: 84%;
  position: absolute;
  font-size: 0.8rem;
}
.adds-on-price-month1 {
  color: blue;
  top: 40%;
  left: 84%;
  position: absolute;
  font-size: 0.8rem;
}
.adds-on-price-month2 {
  color: blue;
  top: 40%;
  left: 84%;
  position: absolute;
  font-size: 0.8rem;
}
.adds-on-price-year {
  color: blue;
  top: 40%;
  left: 83%;
  position: absolute;
  font-weight: bold;
}
.adds-on-price-year1 {
  color: blue;
  top: 40%;
  left: 83%;
  position: absolute;
  font-weight: bold;
}
.adds-on-price-year2 {
  color: blue;
  top: 40%;
  left: 83%;
  position: absolute;
  font-weight: bold;
}
.year-price-hidden {
  display: none;
}
.month-price-hidden {
  display: none;
}
.year-price-hidden1 {
  display: none;
}
.month-price-hidden1 {
  display: none;
}
.year-price-hidden2 {
  display: none;
}
.month-price-hidden2 {
  display: none;
}
.sub-type {
  position: absolute;
  font-size: 16px;
  top: 35%;
  right: 5%;
  color: rgb(39, 39, 95);
  font-weight: 700;
}
.add-box,
.add-box1,
.add-box2 {
  cursor: pointer;
}
.change-sub-btn {
  cursor: pointer;
}
a.change-link {
  position: absolute;
  text-decoration: underline;
  color: rgb(172, 171, 169);
  font-size: 0.9rem;
  top: 65%;
  left: 5%;
}
.display-click {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: hsl(217, 100%, 97%);

  border-radius: 10px 10px 0px 0px;
  margin-top: 30px;
}
.display-click2 {
  position: relative;
  width: 100%;
  height: 130px;
  background-color: hsl(217, 100%, 97%);

  border-radius: 0px 0px 10px 10px;
  padding-bottom: 20px;
}
.display-click3 {
  position: relative;
  padding-top: 2px;
  width: 100%;
  height: 30px;
  background-color: hsl(217, 100%, 97%);

  border-radius: 0px 0px 10px 10px;
  margin-top: 30px;
}
.totalSub {
  position: absolute;
  left: 5%;
  top: 20%;
  color: rgb(151, 151, 153);
  font-weight: bold;
}
.greyMonth {
  color: rgb(151, 151, 153);
}
.finalTotalValue {
  position: absolute;
  font-size: 1.2rem;
  top: 20%;


  right: 5%;
  color: rgb(31, 31, 212);
  font-weight: bold;
}

.line {
  position: absolute;
  width: 90%;
  height: 2px;
  background-color: rgb(148, 146, 146);
  top: 19%;
  left: 5%;
}
.name-of-sub-and-month {
  position: absolute;
  top: 30%;
  left: 5%;
  /* font-size: 1.1rem; */
  color: rgb(39, 39, 95);
  font-weight: 700;
  font-size: 16px;
}
.month-year {
  /* position: absolute; */
  top: 12%;
  left: 17%;
  font-size: 0.8rem;
  color: rgb(39, 39, 95);
  font-weight: bold;
}
.month-year2 {
  /* position: absolute; */
  top: 12%;
  left: 17%;
  font-size: 0.8rem;
  font-weight: bold;
}
.display-adds-ons-online {
  position: absolute;
  /* font-size: 0.9rem; */
  font-weight: 700;
  font-size: 16px;

  top: 40%;
  right: 5%;
  color: rgb(39, 39, 95);
  /* font-weight: bold; */
}
.display-adds-ons-larger {
  position: absolute;
  font-weight: 700;
  font-size: 16px;
  


  top: 60%;
  right: 5%;
  color: rgb(39, 39, 95);
  /* font-weight: bold; */
}
.display-online-details {
  position: absolute;
  top: 40%;
  left: 5%;
  font-weight: 700;
  font-size: 16px;
  color: rgb(145, 145, 148);
}
.display-larger-details {
  position: absolute;
  top: 60%;
  left: 5%;
  font-weight: 700;
  font-size: 16px;
  color: rgb(145, 145, 148);
}
.display-customize-details {
  position: absolute;
  top: 80%;
  left: 5%;
  font-weight: 700;
  font-size: 16px;
  color: rgb(145, 145, 148);
}
.display-adds-ons-customize {
  position: absolute;
  top: 80%;
  right: 5%;
  font-weight: 700;
  font-size: 16px;
  color: rgb(39, 39, 95);
  /* font-weight: bold; */
}
.thanks-img {
  display: flex;
  justify-content: center;
  width: 90%;
}
.thank-you-text {
  display: flex;
  text-align: center;
  width: 90%;
  font-size: medium;
  color: rgb(127, 129, 129);
  margin-top: 20px;
}
.info-display5 {
  padding-top: 120px;
}
@media screen and (min-width: 441px) {
  .button-bg1{
    display: none !important;
  }
  .button-bg22{
    display: none !important;
  }
  .button-bg33{
    display: none !important;
  }
  .button-bg44{
    display: none !important;
  }
}
@media screen and (max-width: 414px) {
  .main-content{
    left: 8% !important;
  }
}
@media screen and (max-width: 420px) {
  .info-display2 {
    line-height: 20px;
    height: 27rem !important;
  
  }

.text1 {
  font-size: 1.5rem;
  font-weight:700;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(39, 39, 95);
  
}
}
@media screen and (max-width: 380px) {
  .main-content{
    left: 8% !important;
  }
}
@media screen and (max-width: 330px) {
  .main-content{
    left: 7% !important;
  }
}
@media screen and (max-width: 350px) {

.adds-on-price-month {
  color: blue;
  top: 40%;
  left: 81%;
  position: absolute;
  /* font-size: 0.8rem; */
  font-size: 0.8em !important;
}
.adds-on-price-month1 {
  color: blue;
  top: 40%;
  left: 81%;
  position: absolute;
  /* font-size: 0.8rem; */
  font-size: 0.8em !important;

}
.adds-on-price-month2 {
  color: blue;
  top: 40%;
  left: 81%;
  position: absolute;
  /* font-size: 0.8rem; */
  font-size: 0.8em !important;

}

.adds-on-price-year {
  color: blue;
  top: 40%;
  left: 81%;
  position: absolute;
  font-weight: bold;
  font-size: 0.8em !important;

}
.adds-on-price-year1 {
  color: blue;
  top: 40%;
  left: 81%;
  position: absolute;
  font-weight: bold;
  font-size: 0.8em !important;

}
.adds-on-price-year2 {
  color: blue;
  top: 40%;
  left: 81%;
  position: absolute;
  font-weight: bold;
  font-size: 0.8em !important;

}}
@media screen and (max-width: 714px) {
  .popDisplayName,
.popDisplayNumber {
  position: absolute;
  left: 55%;
  color: red;
  font-size: 12px;
  width: 7rem;
}}
@media screen and (max-width: 440px) {
 
  /* .sub-box:active{
    background-color: rgb(255, 255, 255);
  
  } */
  .sub-box-on-click {
    background-color: rgb(227, 238, 241);
  
    transition: 0.5s ease-in-out;
    border: 1px solid rgb(75, 77, 197);
    /* height: 8.5rem; */
  }
  .sub-box-out-click {
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
    border: 1px solid rgb(211, 208, 208);
  
    /* height: 9rem; */
  }
  .popDisplayName,
.popDisplayNumber {
  position: absolute;
  left: 55%;
  color: red;
  font-size: 10px;
  width: 7rem;
}
  .month-year-toggle {
    width: 94%;
    display: flex;
    justify-content: center;
    background-color: rgb(227, 238, 241);
    padding: 0.5rem;
  }
 

  .inner-circle-month {
    width: 1rem;
    height: 1rem;
    background-color: white;
    border-radius: 50%;
  }
  .inner-circle-year {
    width: 1rem;
    height: 1rem;
    background-color: white;
    border-radius: 50%;
  }
 
  .info-display2 {
    line-height: 20px;
    height: 26rem;
  
  }
  .info-display3 {
    line-height: 20px;
    height: 350px;
  
  }
  .info-display4 {
    line-height: 20px;
    height: 350px;
  
  }
  .info-display {
    line-height: 20px;
    height: 350px;
    margin-top: 10px;
  
  }
  .go-back {
    margin-top: 0px;
    margin-left: 43px;
    color: rgb(184, 184, 179);
    text-decoration: none;
    background-color: white;
    border: none;
  }
  .prev-next-btn {
    display: flex;
    width: 100%;
    margin-top: 0px;
  }
  .prev-next-btn1 {
    display: flex;
    width: 100%;
    margin-top: 0px;
  }
  .prev-next-btn2 {
    display: flex;
    width: 100%;
    margin-top: 0px;
  }
  .prev-next-btn3 {
    display: flex;
    width: 90%;
    margin-top: 0.3rem;
  }
  /* #btn--1{
    position: relative;
    top: 40px;
  } */
  .btn-next {
    display: block;
    margin-left: auto;
    margin-top: 15px;
    margin-right: 40px;
    margin-bottom: 15px;
    font-size: 0.9rem;
    padding: 0.8rem 1.3rem;
    font-weight: small;
    color: white;
    background-color: rgb(39, 39, 95);
    border: none;
    border-radius: 7px;
    transition: 0.5s ease-in-out;
  }

  .button-bg {
    display: none;
    background-color:white;
    position: absolute;
    bottom: -40%;
    left: -2%;
    /* width: 28rem; */
    /* height: 30px; */
    z-index: 1000;
    width: 120%;
    left: -10%;

  }
  .button-bg1 {
    background-color:white;
    position: absolute;
    bottom: 0%;
    /* width: 28rem; */
    /* height: 30px; */
    z-index: 1000;
    width: 100%;
    left: 0%;

  }
  .button-bg22 {
    display: none;
    background-color:white;
    position: absolute;
    bottom: 0%;
    /* width: 28rem; */
    /* height: 30px; */
    z-index: 1000;
    width: 100%;
    left: 0%;

  }
  .button-bg33 {
    display: none;
    background-color:white;
    position: absolute;
    bottom: 0%;
    /* width: 28rem; */
    /* height: 30px; */
    z-index: 1000;
    width: 100%;
    left: 0%;

  }
  .button-bg44 {
    display: none;
    background-color:white;
    position: absolute;
    bottom: 0%;
    /* width: 28rem; */
    /* height: 30px; */
    z-index: 1000;
    width: 100%;
    left: 0%;

  }
  .button-bg2 {
    display: none;
    background-color:white;
    position: absolute;
    bottom: -20%;
    left: -2%;
    /* width: 28rem; */
    /* height: 30px; */
    z-index: 1000;
    width: 27.5rem;
    left: -5%;

  }
  .button-bg3 {
    display: none;
    background-color:white;
    position: absolute;
    bottom: -65%;
    left: -2%;
    /* width: 28rem; */
    /* height: 30px; */
    z-index: 1000;
    width: 27.5rem;

    left: -5%;
  }
  .button-bg4 {
    display: none;
    background-color:white;
    position: absolute;
    bottom: -40%;
    left: -2%;
    /* width: 28rem; */
    /* height: 30px; */
    z-index: 1000;
    width: 27.5rem;

    left: -5%;
  }
  body {
    background-color: hsl(217, 100%, 97%);
    position: relative;
    margin: 0px;
    position: relative;
    /* overflow-y: hidden; */
  }

  .Container-box {
    display: flex;
    position: absolute;
    top: 40%;
    left: 30%;
  }
  .Container-box2 {
    display: flex;
    position: absolute;
    top: 40%;
    left: 40%;
  }
  .Container-box3 {
    display: flex;
    position: absolute;
    top: 40%;
    left: 50%;
  }
  .Container-box4 {
    display: flex;
    position: absolute;
    top: 40%;
    left: 60%;
  }
  .steps {
    display: none;
  }
  .whole-section {
    display: block;
    /* width: 100%; */
    position: relative;
    background-color: hsl(217, 100%, 97%);
    width: 100%;

    /* display: flex; */
    /* min-height: 400px; */
    height: 670px;
    /* min-height: 100%; */
    /* max-height: 750px; */

    /* margin-top: 1rem; */
    justify-content: center;
    align-items: center;
  }
  /* - Cool gray: hsl(231, 11%, 63%)
- Light gray: hsl(229, 24%, 87%)
- Magnolia: hsl(217, 100%, 97%)
- Alabaster: hsl(231, 100%, 99%)
- White: hsl(0, 0%, 100%) */
  .whole-section {
    background-color: hsl(217, 100%, 97%);
  }
  .aside-bar {
    /* margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    margin-left: 0.3rem; */
    margin: 0px !important;
    background-color: transparent;

    position: relative;
    border-radius: 0px;
    background-image: url("images/bg-sidebar-mobile.svg");
    /* background-size:contain; */
    background-repeat: no-repeat;
    /* background-position: center; */
    height: 206px;

    width: 100%;

    /* background-color: rgb(128, 178, 190); */
    /* right: 15px; */
    bottom: 30px;
  }
  
  .main-content {
    border-radius: 10px;
    /* display: flex; */
    position: absolute;
    top: 15%;
    left: 2.5rem;
    margin-top: 0rem;
    /* margin-bottom: 0rem; */
    /* margin-right: 0rem; */
    padding: 1.5rem;
    height: fit-content;

    max-width: 70%;
    min-width: 10rem;
    box-shadow: 0px 0.3rem 0px 0.2px rgba(39, 38, 38, 0.082);
    background-color: hsl(0, 0%, 100%);
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /* align-self: flex-end; */
  }
  .thanks-img {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .thank-you-text {
    display: flex;
    text-align: center;
    width: 100%;
    font-size: medium;
    color: rgb(127, 129, 129);
    margin-top: 20px;
  }
}
@media screen and (max-width: 600px) {
  .adds-on-details-1 {
    color: rgb(39, 39, 95);
    font-weight: 700;
  
    font-size: 1rem;
    position: absolute;
    top: 25%;
    left: 15%;
  }
  .adds-on-price-month {
    color: blue;
    top: 40%;
    left: 81%;
    position: absolute;
    /* font-size: 0.8rem; */
    font-size: 1em;
  }
  .adds-on-price-month1 {
    color: blue;
    top: 40%;
    left: 81%;
    position: absolute;
    /* font-size: 0.8rem; */
    font-size: 1em;
  }
  .adds-on-price-month2 {
    color: blue;
    top: 40%;
    left: 81%;
    position: absolute;
    font-size: 1em;
    /* font-size: 0.8em; */
  }

  .adds-on-price-year {
    color: blue;
    top: 40%;
    left: 81%;
    position: absolute;
    font-weight: bold;
    font-size: 1em;
  }
  .adds-on-price-year1 {
    color: blue;
    top: 40%;
    left: 81%;
    position: absolute;
    font-weight: bold;
    font-size: 1em;
  }
  .adds-on-price-year2 {
    color: blue;
    top: 40%;
    left: 81%;
    position: absolute;
    font-weight: bold;
    font-size: 1em;
  }
  .adds-on-details-,
  .adds-on-details-3,
  .adds-on-details-5 {
    font-size: 0.9rem;
    font-weight: 700;
  }
  .adds-on-details-2,
  .adds-on-details-4,
  .adds-on-details-6 {
    font-size: 11px;
  }

  .number {
    border: 2px solid white;

    font-size: 0.7rem;
    font-weight: bold;

    background-color: #a7eeee;
    /* padding: 0.9rem;
      margin-bottom: 0.2rem; */
    width: 1.5rem;
    border-radius: 50%;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .number2 {
    font-size: 0.7rem;
    font-weight: bold;

    /* background-color: #a7eeee; */
    /* padding: 0.9rem;
      margin-bottom: 0.2rem; */
    width: 1.5rem;
    border: 2px solid white;
    border-radius: 50%;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .number3 {
    font-size: 0.7rem;
    font-weight: bold;

    /* background-color: #a7eeee; */
    /* padding: 0.9rem;
      margin-bottom: 0.2rem; */
    border: 2px solid white;

    width: 1.5rem;
    border-radius: 50%;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .number4 {
    font-size: 0.7rem;
    font-weight: bold;

    /* background-color: #a7eeee; */
    /* padding: 0.9rem;
      margin-bottom: 0.2rem; */
    border: 2px solid white;

    width: 1.5rem;
    border-radius: 50%;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .basic-details {
    font-size: 0.7rem;
    color: white;
    font-weight: bold;
  }
}
@media screen and (max-width: 530px) {
  .sub-box:hover {
    /* background-color: rgb(238, 238, 234); */
    border: 1px solid rgb(75, 77, 197);
    width: 100%;
    /* height: 8.5rem; */
    transition: 0.3s ease;
  }
  .subscription-boxes {
    display: block;
    width: 100% ;
    /* align-items: center; */
    height: 19rem;
  }
  .sub-box-on-click {
    background-color: rgb(227, 238, 241);
    width: 100%;

    transition: 0.5s ease-in-out;
    border: 1px solid rgb(75, 77, 197);
    height: 90px !important;
    width: 100% !important;
  }
  .sub-box-out-click {
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
    width: 100% !important;
    height: 90px !important;


    border: 1px solid rgb(211, 208, 208);

    /* height: 90px !important; */
  }
  .sub-box {
    width: 100%;
    height: 90px;
    margin-bottom: 10px;
  }
  .sub-main-details {
    bottom: 31%;
  }
  .sub-price-details1,
  .sub-price-details2,
  .sub-price-details3 {
    bottom: 18%;
  }
  .sub-price-details-year-info {
    bottom: 6%;
  }
  /* .prev-next-btn {
    display: flex;
    width: 100%;
    margin-top: 0rem;
  } */
  .main-content{
    margin-top: 0rem;
  }
  .sub-main-details {
    position: absolute;
    left: 10%;
    bottom: 34% !important;
    color: rgb(39, 39, 95);
    font-weight: bold;
    font-size: 0.8rem;

  }
  .sub-icon-box {
    position: absolute;
    top: 7%;
    left: 10%;
  }
  .required-text {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: red;
    font-weight: bold;
    font-size: 13px;
  }
  
}
